build:remote-exec --remote_executor=grpcs://buildbarn-grpc.szamszur.cloud
build:remote-exec --remote_default_exec_properties OSFamily=linux 
build:remote-exec --remote_default_exec_properties container-image="docker://ghcr.io/catthehacker/ubuntu:act-22.04@sha256:8c196f1326178248b00f98659883d9c2e429aeb63e407a318cbf2155865fa141"

build --bes_results_url=https://buildbuddy.szamszur.cloud/invocation/
build --bes_backend=grpcs://buildbuddy-grpc.szamszur.cloud

common --enable_bzlmod=false