# All default settings
import %workspace%/bazel/bazelrc/common.bazelrc
import %workspace%/bazel/bazelrc/performance.bazelrc
import %workspace%/bazel/bazelrc/bes.bazelrc

# RBE
# --bazelrc=bazel/bazelrc/remote-execution.bazelrc
# try-import %workspace%/bazel/bazelrc/remote-execution.bazelrc
