build:remote-exec --remote_executor=grpcs://buildbarn-grpc.szamszur.cloud
build:remote-exec --remote_default_exec_properties OSFamily=linux 
build:remote-exec --remote_default_exec_properties container-image="docker://harbor.puqu.io/starterkit/ash-coreutils-x86_64-cc:kc209hp20raqvsv62prkdn9rfd1vh2fd"

# Only download the final result, the intermediate files can stay on the
# server side.
build --remote_download_toplevel

build --remote_cache=grpcs://buildbarn-grpc.szamszur.cloud

build --bes_results_url=https://buildbuddy.szamszur.cloud/invocation/
build --bes_backend=grpcs://buildbuddy-grpc.szamszur.cloud
