# ansible
xanmanning.k3s*
# terraform
.terraform
*.tfvars
*.tfstate
*.tfstate.backup
# packer
*.pkrvars.hcl
# sops
.decrypted~*
*.agekey
*.pub
*.key
*.pem
# direnv
.direnv/
# bazel
bazel-*
.bazelrc.user