apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
# renovate: datasource=github-releases depName=kubernetes-csi/external-snapshotter
- https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/release-7.0/client/config/crd/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
# renovate: datasource=github-releases depName=kubernetes-csi/external-snapshotter
- https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/release-7.0/client/config/crd/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
# renovate: datasource=github-releases depName=kubernetes-csi/external-snapshotter
- https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/release-7.0/client/config/crd/snapshot.storage.k8s.io_volumesnapshots.yaml
- democratic-csi-iscsi-namespace.yaml
- democratic-csi-iscsi-application.yaml
# renovate: datasource=github-releases depName=pfnet-research/meta-fuse-csi-plugin
- https://raw.githubusercontent.com/pfnet-research/meta-fuse-csi-plugin/v0.1.0/deploy/csi-driver-daemonset.yaml
# renovate: datasource=github-releases depName=pfnet-research/meta-fuse-csi-plugin
- https://raw.githubusercontent.com/pfnet-research/meta-fuse-csi-plugin/v0.1.0/deploy/csi-driver.yaml
# renovate: datasource=github-releases depName=rancher/local-path-provisioner
- https://raw.githubusercontent.com/rancher/local-path-provisioner/refs/tags/v0.0.26/deploy/local-path-storage.yaml

images:
 - name: ghcr.io/pfnet-research/meta-fuse-csi-plugin/meta-fuse-csi-plugin
# renovate: datasource=docker depName=ghcr.io/pfnet-research/meta-fuse-csi-plugin/meta-fuse-csi-plugin
   newTag: v0.1.0

patches:
  - target:
      kind: Namespace
      name: mfcp-system
    patch: |-
      - op: add
        path: /metadata/labels
        value:
          pod-security.kubernetes.io/enforce: privileged
  - target:
      kind: Namespace
      name: local-path-storage
    patch: |-
      - op: add
        path: /metadata/labels
        value:
          pod-security.kubernetes.io/enforce: privileged
  - target:
      kind: StorageClass
      name: local-path
    patch: |-
      - op: add
        path: /metadata/annotations
        value:
          storageclass.kubernetes.io/is-default-class: "true"
  - target:
      kind: ConfigMap
      name: local-path-config
      namespace: local-path-storage
    patch: |-
      - op: replace
        path: /data/config.json
        value: |-
            {
                    "nodePathMap":[
                    {
                            "node":"DEFAULT_PATH_FOR_NON_LISTED_NODES",
                            "paths":["/var/local-path-provisioner"]
                    }
                    ]
            }
