apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: coder-db
  namespace: argocd
spec:
  project: default
  sources:
  - repoURL: registry-1.docker.io/bitnamicharts
    chart: postgresql
    # renovate: datasource=helm depName=postgresql repository=https://charts.bitnami.com/bitnami
    targetRevision: 18.1.8
    helm:
      version: v3
      values: |-
        auth:
          database: coder
          existingSecret: coder-db-postgresql
        primary:
          persistence:
            storageClass: pve-nvme-wd-blue
            size: 5Gi
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      limit: 15
      backoff:
        duration: 15s
        factor: 2
        maxDuration: 5m
  destination:
    namespace: coder
    server: https://kubernetes.default.svc
