apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: buildbuddy-db
  namespace: argocd
spec:
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
  destination:
    namespace: buildbuddy
    server: https://kubernetes.default.svc
  sources:
  - repoURL: https://charts.bitnami.com/bitnami
    chart: mysql
    # renovate: datasource=helm depName=mysql repository=https://charts.bitnami.com/bitnami
    targetRevision: 13.0.4
    helm:
      version: v3
      values: |-
        auth:
          database: buildbuddy
          username: buildbuddy
          existingSecret: buildbuddy-db-mysql
        primary:
          persistence:
            storageClass: pve-nvme-wd-blue
            size: 5Gi
