apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

resources:
# renovate: datasource=github-releases depName=argoproj/argo-cd
- https://raw.githubusercontent.com/argoproj/argo-cd/v3.2.2/manifests/install.yaml
