name: Kubeconform

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  NIX_CHANNEL: nixpkgs=channel:nixos-23.05

jobs:
  # This job checks if an identical workflow is being triggered by different
  # event and skips it. For instance there is no need to run the same pipeline
  # twice for pull_request and push for identical commit sha.
  pre_job:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
      build: ${{ steps.filter.outputs.build }}
    steps:
      - uses: actions/checkout@v4
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5.3.0
        with:
          skip_after_successful_duplicate: 'true'
          concurrent_skipping: same_content
          do_not_skip: '["pull_request", "workflow_dispatch", "schedule"]'
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            build:
              - "cluster-home/**"
  kubeconform:
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_skip != 'true' && needs.pre_job.outputs.build == 'true' }}
    runs-on: ubuntu-latest

    steps:
      - uses: cachix/install-nix-action@v22
        with:
          nix_path: ${{ env.NIX_CHANNEL }}
      - uses: actions/checkout@v4
      - name: Run kubeconform checks
        run: |
          nix-shell -p kubeconform --run "\
            kubeconform \
            -schema-location default \
            -schema-location 'https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json' \
            -schema-location "http://json.schemastore.org/kustomization.json" \
            -ignore-filename-pattern ".*.json" \
            -summary -output json cluster-home"
